<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>CRUDSpringBoot</title>
</head>

<body>
<center>
    <table border="1" >
        <tr>
            <th>id</th>
            <th>name</th>
            <th>login</th>
            <th>password</th>
        </tr>
            <tr th:each="user : ${getAllUser}">

                <td><span th:text="${user.id}"></span></td>
                <td><span th:text="${user.name}"></span></td>
                <td><span th:text="${user.login}"></span></td>
                <td><span th:text="${user.password}"></span></td>
            </tr>
    </table>
</center>
</body>
</html>
