<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!--TODO почему не работает без этих скриптов-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="http://yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    </meta>
    </meta>
</head>

<body>

<nav class="navbar navbar-default" style="background: #262626">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a href="#" class="navbar-brand">SpringBoot</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background-color: white">

            <!--MenuLeft-->
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/admin">Admin</a></li>
                <li><a href="/user">User</a></li>
            </ul>

        </div>


        <!--Admin Panel-->
        <div class="col-md-10" style="background-color:whitesmoke">

            <h2>User Panel</h2>



        </div>
    </div>
</div>

</body>
</html>
